<head>  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<style>


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: "Quicksand", sans-serif;
    height:100svh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card {
  width: 40%;
  height: 40%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 700px) {
  .card {
    max-width: 350px; 
  }
}
@media (max-width: 500px) {
  .card {
  width: 50%;
  }
}
h1 {
  margin-bottom:0.5em;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

  #exampleInputEmail1:focus,
  #exampleInputPassword1:focus {
    outline: none;
    box-shadow: none;
    border-color: black;
  }
   .logo {
      position: absolute;
      top: 1px;
      left: 1em;
      width: 10em;
      height: 10em;
    }


</style>
</head>
<nav><img src="/uploads/logo.png"class="logo" alt="Wave Logo"></nav>
<h1>Sign In</h1>
<div class="card text-center">
    <div class="card-body">
<form action="/auth/sign-in" method="post">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" style="margin-bottom:2em;">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1"style="margin-bottom:2.5em;">
  </div>

  <button type="submit" class="btn btn-dark" style="width:50%;">Submit</button></div>
</form></div>

<div class="card text-center" style="width: 40%;  height:10%; margin-top:1em;">
  <div class="card-body py-2">
    <small>Have an account? <a href="/auth/sign-up">Sign up</a></small>
  </div>
</div>