<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

    .quicksand {
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
    body {
      font-family: "Quicksand", sans-serif;
      margin: 0;
      padding: 2em 1em;
      background-color: #f8f9fa;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
    }
    .card {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30%;

      margin-bottom: 2em;
    }
    @media (max-width: 500px) {
      .card {
        width: 70%;
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    #remove {
      outline: none;
      box-shadow: none;
    }
  </style>
</head>

<h1>Sign Up</h1>

<div class="card text-center">
  <div class="card-body">
    <form action="/auth/sign-up" method="post" enctype="multipart/form-data">
      <div class="mb-3 text-start">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="remove" />
      </div>

      <div class="mb-3 text-start">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="remove" />
      </div>

      <div class="mb-3 text-start">
        <label for="birthday" class="form-label">Birthday</label>
        <input type="date" name="birthday" class="form-control" id="remove" />
      </div>

      <div class="mb-3 text-start">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="remove"
        />
      </div>

      <div class="mb-3 text-start">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          class="form-control"
          id="remove"
        />
      </div>

      <div class="mb-4 text-start">
        <label for="profilePicture" class="form-label"
          >Upload Your Profile Picture</label
        >
        <input
          type="file"
          name="profileImage"
          id="profileImage"
          class="form-control"
        />
      </div>

      <button type="submit" class="btn btn-dark w-100">Submit</button>
    </form>
  </div>
</div>

<div class="card text-center" style="width: 30%">
  <div class="card-body py-2">
    <small>Have an account? <a href="/auth/sign-in">Sign in</a></small>
  </div>
</div>
