
<h1>Update Your Password</h1>
<form action="auth/update-password" method="post">
<label for="old-password">Your Password</label>
<input type="password" name="old-password" id="old-password" required/>
<br><br>
<label for="new-password">New Password</label>
<input type="password" name="new-password" id="new-password" required/>
<br><br>
<label for="confirm-password">Confirm New Password</label>
<input type="password" name="confirm-password" id="confirm-password" required/>
<br><br>
<button type="submit">Update</button>
</form>