<head>
  <style>
    .navbar-custom {
      background: #fff;
      border-bottom: 1px solid #ddd;
      padding: 5px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      top: 0;
    }

    .navbar-logo {
      display: flex;
      align-items: center;
    }

    .header-logo {
      height: 4em;
      width: 10em;
      object-fit: contain;
    }

    .search-container {
      display: flex;
      align-items: center;
      position: relative;
      flex-grow: 1;
      justify-content: flex-end;
    }

    .search-container input[type="search"] {
      padding: 8px 35px 8px 12px;
      border: 1px solid #ccc;
      border-radius: 20px;
      font-size: 14px;
      width: 300px;
      transition: width 0.3s ease;
    }

    .search-container input[type="search"]:focus {
      outline: none;
      width: 350px;
    }

    .search-container i {
      position: absolute;
      right: 10px;
      color: #888;
      cursor: pointer;
    }

    .search-container i:hover {
      color: #000;
    }

    @media (max-width: 768px) {
      .search-container input[type="search"] {
        width: 80%;
      }

      .search-container input[type="search"]:focus {
        width: 100%;
      }

      .search-container {
        width: 50%;
        justify-content: flex-end;
      }
    }
  </style>
</head>

<header class="navbar-custom">
  <div class="navbar-logo">
    <img src="/uploads/logo.png" class="header-logo" alt="Wave Logo" />
  </div>

  <% if (user) { %>
  <form
    id="searchForm"
    action="/users/search"
    method="POST"
    class="search-container"
  >
    <input
      type="search"
      id="searchInput"
      name="search"
      placeholder="Search users..."
    />
    <i class="fas fa-search"></i>
  </form>
  <% } %>
</header>
