<h2>Edit Profile</h2>

<form
  action="/users/<%= user._id %>?_method=PUT"
  method="POST"
  enctype="multipart/form-data"
>
  <label for="profileImage">Change Profile Picture</label>
  <input type="file" name="profileImage" id="profileImage" required />

  <label for="username">Change Username:</label>
  <input type="text" name="username" required />
  <br />

  <label for="email">Change Email:</label>
  <input type="email" name="email" id="email" required />
  <br />

  <label for="bio">Change Bio:</label>
  <input type="text" name="bio" id="bio" required />
  <br />

  <button type="submit">Update</button>
</form>
