
<h2>All Posts</h2>
  <% posts.forEach(post => { %>
    <a href="/posts/<%= post._id %>">
      <br><br>
      <img src="/uploads/<%= post.picture %> " style="width:15em; height:15em;" /></a>
      <p><%= post.description %> </p>
  <% }) %>
  