<h2>add post</h2>

<form action="/posts" method="POST" enctype="multipart/form-data">

<label for="picture">Post picture</label>
<input type="file" name="picture" id="picture"required/>


<label for="description">description:</label>
<input type="text" name="description" id="description" required/>
<br>


<button type="submit">Add</button>


</form>