<p><%= post.description %></p>
<img src="/uploads/<%= post.picture %>" alt="picture" width="300" />

<% if (user._id === post.user._id.toString()) { %>

<form action="/post/<%= post._id %>/edit">
  <button>Edit</button>
</form>

<form action="/post/<%= post._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>

<% } %>
